{{- if ne .chezmoi.os "windows" -}}
home/.chezmoiscripts/*.ps1
home/.chezmoiscripts/*windows*.ps1
home/.chezmoiscripts/run_once_*windows*.ps1
home/.chezmoiscripts/[0-9][0-9]-windows-*.ps1
{{- end -}}
