[General]
ConfigVersion=2
MinimizeOnClose=true
MinimizeOnStartup=false
StartMinimized=false
RememberLastDatabases=false
OpenPreviousDatabasesOnStartup=false

[Security]
ClearClipboardTimeout=15
ClearClipboardTimeoutUnit=Seconds
ClearSearchTimeout=30
LockDatabaseIdle=true
LockDatabaseIdleSeconds=300
LockDatabaseOnMinimize=true
LockDatabaseOnWorkspaceLock=true
EnableCopyOnDoubleClick=false
HideUsernames=true
HidePasswords=true

[Browser]
Enabled=false

[SSHAgent]
Enabled=false

[GUI]
ApplicationTheme=auto
ShowTrayIcon=false
TrayIconAppearance=monochrome

[Advanced]
UseAtomicSaves=true
